@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;

}

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.container--titulo{
    font-size: 28px;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container--imagem{
    margin: 1em 0 2em 0 ;
}

.container--botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
    display: block;
    margin-bottom: 1em;
}

.container--botao2{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
}

.container--aviso{
font-size: 12px;
color: var(--cinza-secundario);
}

.container--caixa{
    margin: 0 6em;
}

.secundario--imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;

}

.descricao--titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao--paragrafo{
    color: var(--cinza-secundario);
}

.terceiro{
        align-items: center;
        margin: 0 10em;
    
}


.container--botao3{
        background-color: var(--botao-azul);
        color: var(--branco-principal);
        text-decoration: none;
        padding: 1em;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 1em;
        margin-top: 1em;;
}

.container--descricao{
    padding: 2em;;
}

.dispositivos--lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;

}

.dispositivos--titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista--item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape--logo{
    margin-bottom: 2em;
}

.rodape--lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista--link a{
    color: var(--branco-principal);
    margin-left: 1em;
    text-decoration: none;
    
}

.rodape--paragrafo{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 1em 0;
}

.lista--link a:hover{
    color: var(--botao-azul);
}